a {
  color: #0e9ce0;
}
span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}
footer {
	margin-top: 5%;
	margin-bottom: 0%;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	padding-bottom: 100px;
}
