/* Make universal color variables */
:root {
  --black: #000000;
  /* background color of body part and header part */
  /*
  --bg-color: #EAE7DC;
  --header-bg-color: #8E8D8A;
  */
  --bg-color: #EEEEEE;
  --header-bg-color: #474747;

  /* text colors for rest of document */
  /*
  --header-color: #D8C3A5;
  --text-color: #8E8D8A;
  */
  --header-color: #EEEEEE;
  --text-color: #A8A7A7;

  /* highlight colors (links, etc.) */
  --highlight-color: #FF0000;
  --super--highlight: #FF0000;
}

/* Change predefined HTML settings */
html {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  border: 0;
  padding: 0;
  margin: 0;
}


h1 {
  font-weight: bold;
  font-size: 3em;
}

h4 {
  font-size: 1.25em;
  color: var(--header-bg-color);
}

button {
  background-color: inherit;
  color: inherit;
  float: left;
  padding: 10px;
  border: 5px;
  border-left-style: solid transparent;
  font-size: 2em;
  transition: color, border-width;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

button:hover {
  border-left-style: solid;
  border-color: var(--super-highlight);
  color: var(--highlight-color);
}

button:focus {
  outline: none;
}

p {
  float: left;
}

/* Define footer */
footer {
	margin-top: 5%;
	margin-bottom: 1%;
	margin-left: auto;
  margin-right: auto;
	text-align: center;
	font-size: x-small;
}

footer ul {
  justify-content: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline;
  padding-left: 1%;
  padding-right: 1%;
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

footer a:hover {
  color: var(--highlight-color);
}

/* Add container to keep everything central */
.container {
  font-family: "Fira Sans";
  color: var(--text-color);
  text-align: left;
  margin-top: 1%;
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Add about section */
#about {
  font-family: inherit;
}

#about h5 {
  display: inline;
  padding: 0;
}

/* Add resume section */
#past {
  font-family: inherit;
}

#past h1 {
  font-size: 2em;
  font-weight: bold;
}

#past h3 {
  margin: 0;
  padding: 0;
  display: inline;
  font-style: italic;
}

#past h5 {
  margin: 0;
  padding: 0;
}

#past h6 {
  display: inline;
  font-size: inherit;
}

#past img {
  vertical-align: middle;
  float: right;
  display: block;
  width: 5vw;
  transition: width;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#past img:hover {
  width: 6vw;
}

#past ul {
  justify-content: left;
  display: block;
  list-style: none;
  margin: 1%;
}

#past li {
  text-align: left;
  font-size: 0.85em;
  padding: 1%;
}

#past .tech {
  display: inline;
}

#past .tech ul {
  justify-content: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#past .tech li {
  text-align: center;
  font-size: 1em;
  margin: 1.5%;
}

#past a {
  color: inherit;
  text-decoration: none;
  transition: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#past a:hover {
  color: var(--highlight-color);
}

/* Add icon hover */
/* Python logo */
#past .fa-python {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-python:hover {
  color: #4B8BBE;
  border: 3px solid #FFD43B;
}

/* React logo */
#past .fa-react {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-react:hover {
  color: #61DBFB;
  border: 3px solid var(--black);
}

/* AWS logo */
#past .fa-aws {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-aws:hover {
  color: #FF9900;
  border: 3px solid #232F3E;
}

/* Docker logo */
#past .fa-docker {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-docker:hover {
  color: #0DB7ED;
  border: 3px solid #384D54;
}

/* CSS logo */
#past .fa-css3-alt {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-css3-alt:hover {
  color: #3C99DC;
  border: 3px solid #0F5298;
}

/* HTML logo */
#past .fa-html5 {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-html5:hover {
  color: var(--black);
  border: 3px solid #E44D26;
}

/* Brain logo */
#past .fa-brain {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-brain:hover {
  color: #F97CFF;
  border: 3px solid #FFFFFF;
}

/* Laptop code */
#past .fa-laptop-code {
  border: 3px solid var(--header-bg-color);
  border-radius: 50%;
  padding: 10px;
  transition: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#past .fa-laptop-code:hover {
  color: #46BCFB;
  border: 3px solid var(--black);
}

/* Add title section */
#header {
  font-family: "Fira Sans";
  color: var(--header-color);
  background-color: var(--header-bg-color);
  position: relative;
  top: 0;
  left: 0;
  width: 96%;
  padding: 2%;
}

#header ul {
  display: inline;
  list-style: none;
}

#header li {
  text-align: center;
  font-size: 2em;
  padding: 1%;
  float: right;
}

#header a {
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#header a:hover {
  color: var(--highlight-color);
}

#header img {
  border: 5px solid var(--header-bg-color);
  border-radius: 50%;
  vertical-align: middle;
  float: right;
  display: block;
  width: 10vw;
}

/* Add current section */
#current h6 {
  font-size: inherit;
  display: inline;
}

#current .papers ul {
  list-style: none;
}

#current .papers li {
  font-size: 0.8em;
}

#current .papers a {
  color: inherit;
  text-decoration: none;
  transition: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#current .papers a:hover {
  color: var(--highlight-color);
}

/* Add interests section */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  font-size: small;
  color: var(--black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.column img {
  width: 20vw;
  opacity: 1;
  border: 5px solid var(--bg-color);
  transition: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.image-container:hover img {
  opacity: 0.05;
}

.image-container:hover .image-text {
  opacity: 1;
}
