* {
	box-sizing: border-box;
}
						    						      
<!-- Page style. -->
div.wrapper {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-right: 5px;
    padding-left: 5px;
}

.container {
	border-radius: 5px;
	text-align: left;
	font-family: "PT Sans";
	padding-top: 0%;
	padding: 5%;
	padding-bottom: 0%;
	background: #eae7dc;
	color: #2a2626;
	margin-top: 1%;
	margin-bottom: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

<!-- Link style. -->
a {
	text-decoration: none;
	position: relative;
	background-color: transparent;
}

a:link {
	text-decoration: none;
	background-color: transparent;
}
a:visited {
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	text-decoration: underline;
	background-color: transparent;
	text-decoration-color: #5BA5C3;
}
a:active {
	text-decoration: none;
	background-color: transparent;
}

						      
<!-- Header style. -->
.header {
	font-family: "PT Sans";
	padding: 5%;
	color: black;
	overflow: hidden;
}
.header a {
	float: left;
	display: inline;
    	color: #5BA5C3;
    	text-align: center;
    	padding-top: 1%;
    	padding-left: 1%;
    	padding-right: 3%;
    	text-decoration: none;
    	font-size: large;
	white-space: nowrap;
}
.header a:hover {
	text-decoration: underline;
    	color: #5BA5C3;
}
.header a:active {
	text-decoration: none;
	background-color: transparent;
}
.header right {
	float: right;
	display: inline-block;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

<!-- Only used on 404 page. -->
h1 { 
	color: black;
	margin: 2%;
	margin-top: 5%;
	font-family: "PT Sans";
	font-weight: bold;
	font-size: 3em;
}

.container h2 {
	color: #a52a2a;
	margin: 1%;
	font-family: "PT Sans";
	font-weight: bold;
	display: inline;
	font-size: 2.25em;
	font-variant: small-caps;
}

.container h3 {
	color: #a52a2a;
	margin: 1%;
	font-family: "PT Sans";
	font-weight: bold;
	font-size: 1.75em;
}

h4 {
	color: #a52a2a;
	margin: 1%;
	font-family: "PT Sans";
	font-weight: bold;
}

h5 {
	color: #a52a2a;
	margin: 1%;
	font-family: "PT Sans";
	font-weight: bold;
}

h6 {
	color: #a52a2a;
	margin: 1%;
	font-family: "PT Sans";
	font-weight: bold;
}
				  
footer {
	margin-top: 5%;
	margin-bottom: 1%;
	text-align: center;
	font-size: x-small;
}

.header span {
	margin-left: 3%;
	margin-right: 3%;
}

p {
	font-size: 1.25em;
}

<!-- List style. -->
ul {
	line-height: 2%;
	font-size: 1.25em;
}

ul span {
	margin: 0%;
	color: #FE5D4A;
}
